.faide_slider{
  width: 100%;
  margin: 0px auto 0 auto;
  float: left;
}

.faide_slider #slider{
  width: 100%;
  font-size: 14px;
  line-height: 27px;
  overflow: hidden;
}

.faide_slider #slider strong{
	color: #fff;
	font-size: 14px;
}

.faide_slider #slider b{
	color: #ff7a29;
	font-size: 14px;
	display: block;
	margin-top: 13px;
	font-weight: normal;
}
.faide_slider #slider b em{
	color: #999;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	display: block;
	margin: -5px 0px 0px 0px;
}


.faide_slider #slide1{
  float: left;
  margin: 0 auto;
  width: 100%;
}

.faide_slider #slide2{
  float: left;
  display: none;
  margin: 0 auto;
  width: 100%;
}
.faide_slider #slide3{
  float: left;
  display: none;  
  margin: 0 auto;
  width: 100%;
}
.faide_slider #slide4{
  float: left;
  display: none;
  margin: 0 auto;
  width: 100%;
}


.faide_slider ul.controlls{
  padding: 0px;
  margin: 0 0 0 0px;
}

.faide_slider .controlls li{
  padding: 0px;
  margin: 0px 5px 0px 0px;
  float: left;
  display: inline;
}
.faide_slider .controlls li a {
  width: 10px;
  height: 10px;
  background-color: #b9b9b9;
  display: block;
  border-radius: 100%;
}
.faide_slider .controlls li a:hover {
  background-color: #727272;
}
.faide_slider .controlls li a:active {
  background-color: #727272;
}


